.canvas-titulo{
    font-family: 'Libre Bondi', serif;
    color: #000000; 
    font-size: clamp(12px, 1.2rem, 32px);
    text-align: center;

    background-color: #eae0d5;
    border-radius: 5px;
    width: 21rem;
}

.card{
    background-color: #f6f5f2;
    
}
.container-card{
    background-color: #ffffff;
    max-width: 23rem;
    flex-direction: row;
    height: 5rem;
    
    
}


.card-body{
    background-color: #f6f5f2;
    height: 4.6rem;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-top: 1.5px;
}

.btn-danger{
    background-color: #ffffff;
    border: #ffffff;
    color: black;
    height: 1rem;
}

.card-title{
    font-size: 1rem;
}

.card-text{
    font-size: 0.8rem;
}

.boton-ver-carrito{
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #eae0d5;
    width: 20vw;
    text-align: center;
    font-family: 'Nunito Sans';
    font-size: 1rem;;
    
    
}

.botones-compras{
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
}

.boton-ver-carrito:hover{
    background-color: #eae0d5;
    border-radius: 15px;
    border: #eae0d5;
    font-family: 'Nunito Sans';
    font-size: 1rem;
}

.boton-seguir-comprando{
    font-family: 'Nunito Sans'; 
    font-size: 1rem;
    width: 20vw;
}

.boton-seguir-comprando:hover{
    font-family: 'Nunito Sans'; 
    font-size: 1rem;
    color:#b7ada0;
    
}