.navbar {
    background-color: #f6f5f2; /*fondo del nav*/
    
}
.navbar-brand {
    color: #1c1c1c; /* caracteristicas del titulo*/
}
.navbar-nav .nav-link:hover{
    background-color: #eae0d5;
    border-radius: 5px; 
}  
.navbar-nav .nav-link {
    color: #1c1c1c ; /* caracteristicas de las opciones*/
   
}
  
.lupa:hover { /* resaltar al pasar el mouse*/
    background-color: #eae0d5;
    border-radius: 10px; 
}

.boton-buscar{
    border-color: #bfc86a; 
    color:#1c1c1c;
}

.boton-buscar:hover{
    border-color: #bfc86a; 
    background-color:#bfc86a;
}

.boton-comprar{
    background-color: #9da53a;
    border: 1px solid #1c1c1c; 
}

.boton-comprar:hover{
    background-color: #eae0d5;
    border-color: #1c1c1c;
    text-decoration: underline;   
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* por si el navegador agrega márgenes por defecto */
}
  
main {
    flex: 1; /* esto empuja el footer hacia abajo */
    padding-top: 90px;
}

.footer-news{
  background-color: #bfc86a;
  border-radius: 10px;
  padding: 6px;
  width: 70%;
  font-weight: bold;

}

.footer-hora{
    background-color: #bfc86a;
    border-radius: 10px;/*redondear*/
    padding: 6px;/*margenes internos*/
    width: 60%;/*tamaño del fondo*/
    font-weight: bold;/*negrita*/
}

.boton-ok{
  background-color: #eae0d5;
  border-color: #bfc86a;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 1rem;
  width: 120px;
}

.form-suscription{
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.input-email{
    flex: 1 1 10%;
    padding: 3px;
    font-size: 1rem;
    
}

.boton-ok:hover{
    border-color: #bfc86a; 
    background-color:#bfc86a;
}

.container-p1{
    background-color: #eae0d5;
    /*empuja todo el contenido hacia abajo, desde el borde superior del fondo*/
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.container-p2{
    background-color: #bfc86a;
    margin-top: 0;     /* Elimina el margen superior */
    margin-bottom: 0;  /* Elimina el margen inferior */
    padding-top: 15px;  /* Podés ajustar si querés un poco de aire */
    padding-bottom: 1px;
}

.input-short{
    width: 210px;
}

.toggle-busqueda {
    display: none;
  }
  
  @media (max-width: 991.98px) {
    .form-busqueda {
      position: relative;
    }
  
    .toggle-busqueda:checked ~ .input-busqueda {
      display: block !important;
      position: absolute;
      top: 50px;
      right: 0;
      width: 200px;
      z-index: 1000;
      background: white;
      border: 1px solid #bfc86a;
      border-radius: 5px;
      padding: 5px 10px;
    }
  
    .input-busqueda {
      display: none;
    }
  }
  