.categoria-card {
    border: 3px solid #c0c0c0; /* borde general */
    border-radius: 10px;
    overflow: hidden;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transition: all 0.3s ease;
    border-color: #bfc86a;
}

.imagen-derecha {
    flex-direction: row-reverse;
}

.categoria-card:hover {
    transform: scale(1.02);
    background-color: rgba(246, 245, 242, 0.3);
    font-weight: bold;
    color:#1c1c1c;
    box-shadow: 0 4px 10px rgba(191, 200, 106, 1);
}


.categoria-texto {
    font-family: 'Libre Bondi', serif;
    font-size: 1.4rem;
    padding-right: 1rem;
    color: #333;
    text-align: right;
    width: 50%;
}

@media (max-width: 768px) {
    .categoria-texto {
      font-size: 1.1rem;
    }
}
  
@media (max-width: 576px) {
    .categoria-texto {
      font-size: 1rem;
    }
}

.categoria-texto-derecha{
    text-align: left;
    padding-left: 1rem;
}


.categoria-imagen {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}