
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Hurricane&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wdth,wght@0,75,100..900;1,75,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ledger&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");

.titulo-central{
    font-family: 'Hurricane', cursive; /*proba cambiando Hurricane por Cookie"*/
    font-size: 3rem;
}

.titulo-categorias{
    font-family: 'Libre Bondi', serif;
    color: #1c1c1c; 
    text-shadow: 2px 2px 2px rgba(246, 245, 242, 0.5); 
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 0.3em 0.6em; 
    border-radius: 6px; 
    display: inline-block; 
}

.letra-botones{
    font-family: 'Ledger';
    color:  black
}

.letra-nav{
    font-family: 'Ledger';
    color: #1c1c1c;
    font-size: 16px;
}

.footer-news{
    font-family: 'Libre Bondi', serif;
    color: white;
    text-align: center ;
    font-size: clamp(20px, 1.1rem, 32px);
    
}

.footer-hora{
    font-family: 'Libre Bondi', serif;
    color: white;
    text-align: center;
    font-size: clamp(20px, 1.1rem, 32px);
}

.footer-consulta{
    font-family: 'Libre Bondi', text-center; 
    font-size: clamp(12px, 1.1vw, 32px);
    text-align: center 
}
.boton-ok{
    font-family: 'Forum';
    color: rgb(0, 0, 0);
}
.boton-ok:hover{
    font-family: 'Forum';
    color: white;
}
.resaltado{
    font-family: 'Libre Bondi';
    font-style: italic;
    font-size: clamp(12px, 1.2vw, 32px);
    color: #9da53a;
}
.creditos{
    font-size: 13px;
    text-align: center;
    font-family: 'Nunito Sans';
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: clamp(16px, 1rem, 32px);
}
.letra-footer{
    font-family: 'Libre Bondi', serif; 
    font-size: clamp(16px, 1rem, 32px);
}

.nosotros-titulos{
    font-family: 'Libre Bondi';
    color: #ffffff; 
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 1.2px;
    font-weight: bold;
}

.parrafos-nosotros{
    font-family: 'Libre Bondi', serif; 
    font-size: clamp(16px, 1rem, 32px);
}
.parrafos-preguntas{
    font-family: 'Libre Bondi', serif; 
    font-size: clamp(16px, 1.1vw, 32px);
    margin-left: 8vw;
    padding-right: 5vw;
    text-align: justify;
    
}
.parrafos-contacto{
    font-family: 'Libre Bondi', serif; 
    font-size: clamp(12px, 1.1vw, 32px);
    margin:0;
}

.letra-sub-nosotros{
    font-family: 'Ledger', serif;
    text-align: center;
    font-size: clamp(20px, 3vw, 32px);
    color: #bfc86a;
}
.letra-sub{
    font-family: 'Ledger', serif;
    text-align: center;
    font-size: clamp(20px, 3vw, 32px);
    color: #000000;
}
.letra-comer{
    font-family: 'Ledger', serif;
    text-align: center;
    font-size: clamp(20px, 3vw, 32px);
    color: #000000;
}
.letra-valores{
    font-family: 'Libre Bondi', serif; 
    font-size: clamp(12px, 1.1vw, 32px);
}

.letra-agradecimiento{
    font-family: 'Hurricane'; 
    text-align:center;
    font-size: clamp(12px, 3vw, 32px);
    margin-top: 2rem;
    margin-bottom: 0px;
    
}
.letra-consulta{
    font-family: 'Spectral SC'; 
    text-align: center;
    font-size: clamp(25px, 1rem, 50px);
    /*margin-bottom: 0px;*/
}

.preguntas-frecuentes{
    font-family: 'Libre Bondi', serif;
    color: #000000; 
    margin-left: 10vw;
    font-size: clamp(12px, 1.1vw, 32px);
    letter-spacing: 1.2px;
    font-weight: bold;
}

.preguntas-comercializacion{
    font-family: 'Libre Bondi', serif;
    color: #000000; 
    text-align: center;
    font-size: clamp(12px, 1.1vw, 32px);
    letter-spacing: 1.2px;
    font-weight: bold;
}
.titulos-quienessomos{
    font-family: 'Libre Bondi', serif;
    color: #000000; 
   
    font-size: clamp(12px, 1.2rem, 32px);
    letter-spacing: 1.2px;
    font-weight: bold;
}
.boton-enviarcon{
    font-family: 'Libre Bondi', serif;
    color: #ffffff; 
    font-size: clamp(12px, 1.1vw, 32px);
  }

.boton-enviarcon:hover{
    font-family: 'Libre Bondi', serif;
    color: #000000; 
    font-size: clamp(12px, 1.1vw, 32px);
}

.contacto-horario{
    font-family: 'Libre Bondi', serif;
    text-align: center;
    color: #bfc86a; 
    font-size: clamp(12px, 1.2vw, 32px);
    
}

.quienessomos-mvv{
    /*text-align: center;*/
    color: #000000; 
    font-family: 'Libre Bondi', serif;
    font-size: clamp(12px, 1rem, 32px);
}