<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<style>
        p {color:red;} /*estilo interno*/
    </style>-->
    <link href="assets/css/miestilo.css" rel="stylesheet" > 
</head>
<body>
    <p> Hola </p> 
    <h1>Bienvenidos a Taller de Programación I5</h1>
    <!--<p style="color:red">Hoy sólo práctico de configuración</p> estilo en linea -->
    <!--<p>Esta es una prueba de otro parrafo con el estilo interno</p>  estilo interno -->
    <p> Somos una empresa que se dedica a la venta de relojes de mesa y pared con 
        diseños únicos e innovadores. Utilizamos materia prima de calidad. Elaboramos 
        productos a la medida del cliente. 
    </p> 
</body>
</html>